.header {
  height: 95vh; /*vh makes it that percentage of the viewport height*/
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/hero.jpg); /*can combine functions inside background-image */
  background-size: cover; /*fits element inside the container, makes it responsive*/
  background-position: top; /*specifies the top edge as the origin for the next offset*/
  position: relative; /*allows logo to be moved in relation to this element*/

  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(
    0 0,
    100% 0,
    100% 75vh,
    0 100%
  ); /*changes the shape of the div*/ /* top left x y, top right x y, bottom right x y, bottom left x y*/ /*helpful resource https://bennettfeely.com/clippy/*/

  @include respond(phone) {
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }

  &__logo-box {
    /* tells the css absolutely where to position img relative to parent element (header) w relative positioning */
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 3.5rem; /*width will scale accordingly, prefer to control height v width*/
  }

  /*can use animations in multiple places*/
  /* .logo:hover {
      animation: moveInRight 1s ease-out;
      } */

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
