/*basic CSS reset for cross-browser support*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; /*can use inherit keyword to force inheritance*/
}

html {
  /* this is the place to define font-size in order to use rems */
  /* this makes it much easier to write media queries and make responsive sites */
  //this defines 1 rem as 10 px
  font-size: 62.5%; //1 rem = 10 px, 10px/16px = 62.5%
  /*better practice not to over-ride user font size settings with px */
  /*when 10 px, 1 rem = 10 px*/

  @include respond(tab-land) {
    font-size: 56.25%; //1 rem = 9px, 9/16
  }

  @include respond(tab-port) {
    font-size: 50%; //1 rem = 8 px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1 rem = 12px, 12/16
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0;
  }
}
